<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Wool.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>663B9D2D2DB7DE0A00AC11DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>663B9D3B2DB7DE0B00AC11DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>663B9D452DB7DE0B00AC11DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
